<a href="https://colab.research.google.com/github/sittidetw/dads5001_midterm_project/blob/main/DADS5001_Midterm_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/sittidetw/dads5001_midterm_project.git

fatal: destination path 'dads5001_midterm_project' already exists and is not an empty directory.

In [2]:
pip install python-calamine

Requirement already satisfied: python-calamine in /usr/local/lib/python3.12/dist-packages (0.6.2)

In [3]:
import pandas as pd
import numpy as np
from pathlib import Path
import glob
import gc

# Data Cleaning

In [4]:
# @title HIV Testing by Key Populations
path = "/content/dads5001_midterm_project/rd_testing_population/*.xlsx"

files = glob.glob(path)
print("Total files:", len(files))
df_test_pop_combine = None
for file in files:
  print(file)

  # Load the Excel file
  df = pd.read_excel(file, engine='calamine', header=None, skiprows=2, skipfooter=1)
  file_name = Path(file).name
  file_period = file_name.split('_')
  period = file_period[2]

  df = df.transpose()
  df.iloc[:,0:3] = df.iloc[:,0:3].ffill()
  #df.insert(loc=0, column='header', value=df.index)
  #df

  # Define conditions
  conditions = [
      (df[0] == 'จังหวัด'),
      (df[0] == 'เขตสุขภาพ'),
      (df[0].str.contains('testing')) & (df[1].str.contains('Female')),
      (df[0].str.contains('testing')) & (df[1].str.contains('Male')),
      (df[0].str.contains('testing')) & (df[1].str.contains('All KP')),
      (df[0].str.contains('testing')) & (df[1].str.contains('Total')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('Female')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('Male')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('All KP')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('Total'))
  ]

  # Define the corresponding values for each condition
  values = ['province', 'health_region',
            'test_female', 'test_male', 'test_all_kp', 'test_total',
            'positive_female', 'positive_male', 'positive_all_kp', 'positive_total'
  ]

  # Create the new column
  df['header_temp'] = np.select(conditions, values, default='Unknown') # default is for cases that don't match any condition
  df['header'] = df['header_temp'].str.cat(df[2].str.replace(' ', '_').str.lower(), sep='_').fillna(df['header_temp'])
  df['header'] = df['header'].str.replace('total_total','grand_total')
  columns_to_drop = [0,1,2,'header_temp']
  df = df.drop(columns=columns_to_drop)
  df = df.transpose()
  df.columns = df.loc['header'].values
  df = df.drop(index='header')

  # Add Period
  df.insert(loc=0, column='quarter', value=period)
  df.insert(loc=0, column='q', value=period[-2:])
  df.insert(loc=0, column='year', value=period[:4])

  # Change data type in dataframe
  for col in df.iloc[0:,5:].columns: df[col] = df[col].astype('int32')
  for col in df.iloc[0:,0:5].columns: df[col] = df[col].astype('string')

  #df
  if (df_test_pop_combine is None):
    df_test_pop_combine = df
  else:
    df_test_pop_combine = pd.concat([df_test_pop_combine, df], ignore_index=True)

display(df_test_pop_combine.groupby(['year','quarter'])['positive_grand_total'].count())

# Transform accumulated data to total year summary
df_test_pop = df_test_pop_combine[df_test_pop_combine['q'] == 'Q4'].copy()
df_test_pop_temp1 = df_test_pop_combine[(df_test_pop_combine['q'] == 'Q1') & (df_test_pop_combine['year'].isin(df_test_pop['year'].unique()))].copy()

next_years_int = df_test_pop['year'].astype(int).unique() + 1
next_years_str = next_years_int.astype(str)
df_test_pop_temp2 = df_test_pop_combine[(df_test_pop_combine['q'] == 'Q1') & (df_test_pop_combine['year'].isin(next_years_str))].copy()

df_test_pop = df_test_pop.set_index(['year', 'province'])
df_test_pop_temp1 = df_test_pop_temp1.set_index(['year', 'province'])

df_test_pop_temp2['year'] = df_test_pop_temp2['year'].astype(int) - 1
df_test_pop_temp2['year'] = df_test_pop_temp2['year'].astype(str)
df_test_pop_temp2 = df_test_pop_temp2.set_index(['year', 'province'])

cols_to_cal = df_test_pop.columns[3:]
#df_test_pop[cols_to_cal] = (df_test_pop[cols_to_cal] - df_test_pop_temp1[cols_to_cal]) + df_test_pop_temp2[cols_to_cal]
df_test_pop[cols_to_cal] = df_test_pop[cols_to_cal].sub(df_test_pop_temp1[cols_to_cal], fill_value=0).add(df_test_pop_temp2[cols_to_cal], fill_value=0)

df_test_pop = df_test_pop.reset_index(drop=False)
df_test_pop = df_test_pop.drop(columns=['q','quarter'])
df_test_pop.iloc[:, 3:] = df_test_pop.iloc[:, 3:].clip(lower=0)

# Delete temp variables
del df_test_pop_temp1
del df_test_pop_temp2
gc.collect()

test_male = [col for col in df_test_pop.columns if col.startswith('test_male_') and 'all_kps' not in col and 'total' not in col]
test_female = [col for col in df_test_pop.columns if col.startswith('test_female_') and 'all_kps' not in col and 'total' not in col]
positive_male = [col for col in df_test_pop.columns if col.startswith('positive_male_') and 'all_kps' not in col and 'total' not in col]
positive_female = [col for col in df_test_pop.columns if col.startswith('positive_female_') and 'all_kps' not in col and 'total' not in col]

df_test_pop['test_male_all_kps'] = df_test_pop[test_male].sum(axis=1)
df_test_pop['test_female_all_kps'] = df_test_pop[test_female].sum(axis=1)
df_test_pop['positive_male_all_kps'] = df_test_pop[positive_male].sum(axis=1)
df_test_pop['positive_female_all_kps'] = df_test_pop[positive_female].sum(axis=1)

df_test_pop['test_all_kp_total'] = df_test_pop[['test_male_all_kps','test_female_all_kps']].sum(axis=1)
df_test_pop['positive_all_kp_total'] = df_test_pop[['positive_male_all_kps','positive_female_all_kps']].sum(axis=1)

# Add sum of others
added_col = ['test_male_others','test_female_others','test_all_others_total','positive_male_others','positive_female_others','positive_all_others_total']
col_name = ['test_male_all_kps','test_female_all_kps','test_all_kp_total','positive_male_all_kps','positive_female_all_kps','positive_all_kp_total']
col_ttl = ['test_male_total','test_female_total','test_grand_total','positive_male_total','positive_female_total','positive_grand_total']
indices = df_test_pop.columns.get_indexer(col_name)
for i in reversed(range(len(indices))):
    indice = indices[i]
    new_col = added_col[i]
    source_ttl = col_ttl[i]
    source_kp = col_name[i]
    df_test_pop.insert(loc=indice + 1, column=new_col, value=df_test_pop[source_ttl] - df_test_pop[source_kp])

display(df_test_pop)
df_test_pop.to_excel('test_pop.xlsx', index=False)

Total files: 7
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2023Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2025Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2026Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2024Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2025Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2024Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_population/Testing_Population_2023Q4_20260215.xlsx

year  quarter
2023  2023Q1     77
      2023Q4     77
2024  2024Q1     77
      2024Q4     77
2025  2025Q1     77
      2025Q4     77
2026  2026Q1     77
Name: positive_grand_total, dtype: int64

,year,province,health_region,test_male_fsw,test_male_migrant,test_male_msm,test_male_msw,test_male_partner_of_hiv,test_male_prisoner,test_male_pwid,...,positive_female_prisoner,positive_female_pwid,positive_female_tg,positive_female_tgsw,positive_female_all_kps,positive_female_others,positive_female_total,positive_all_kp_total,positive_all_others_total,positive_grand_total
0,2025,เชียงใหม่,1,0,5,26063,939,50,3938,739,...,3,0,0,0,32,154,186,345,346,691
1,2025,ลำพูน,1,0,0,6619,2,1,6,0,...,2,0,0,0,4,31,35,38,79,117
2,2025,ลำปาง,1,0,0,4450,3,45,31,0,...,0,0,0,0,5,36,41,65,91,156
3,2025,แพร่,1,0,0,1925,13,10,0,0,...,0,0,0,0,2,19,21,30,97,127
4,2025,น่าน,1,0,1,2289,1,20,777,1,...,0,0,0,0,2,17,19,24,43,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2023,พัทลุง,12,0,1,1055,11,19,849,59,...,1,0,0,0,7,23,30,46,62,108
227,2023,ปัตตานี,12,0,0,423,1,5,1750,164,...,0,0,1,0,2,7,9,32,19,51
228,2023,ยะลา,12,0,1,189,1,13,1065,866,...,0,0,0,0,5,5,10,38,22,60
229,2023,นราธิวาส,12,0,0,255,3,5,0,375,...,0,0,0,0,3,12,15,32,43,75
230,2023,กรุงเทพมหานคร,13,0,56,31860,3253,326,11861,12127,...,23,20,3,0,165,717,882,2106,2147,4253

In [5]:
df_test_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 57 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            231 non-null    string
 1   province                        231 non-null    string
 2   health_region                   231 non-null    string
 3   test_male_fsw                   231 non-null    int32
 4   test_male_migrant               231 non-null    int32
 5   test_male_msm                   231 non-null    int32
 6   test_male_msw                   231 non-null    int32
 7   test_male_partner_of_hiv        231 non-null    int32
 8   test_male_prisoner              231 non-null    int32
 9   test_male_pwid                  231 non-null    int32
 10  test_male_tg                    231 non-null    int32
 11  test_male_tgsw                  231 non-null    int32
 12  test_male_all_kps               231 non-null    int64
 13  test_male_others                231 non-null    int64
 14  test_male_total                 231 non-null    int32
 15  test_female_fsw                 231 non-null    int32
 16  test_female_migrant             231 non-null    int32
 17  test_female_msm                 231 non-null    int32
 18  test_female_msw                 231 non-null    int32
 19  test_female_partner_of_hiv      231 non-null    int32
 20  test_female_prisoner            231 non-null    int32
 21  test_female_pwid                231 non-null    int32
 22  test_female_tg                  231 non-null    int32
 23  test_female_tgsw                231 non-null    int32
 24  test_female_all_kps             231 non-null    int64
 25  test_female_others              231 non-null    int64
 26  test_female_total               231 non-null    int32
 27  test_all_kp_total               231 non-null    int64
 28  test_all_others_total           231 non-null    int64
 29  test_grand_total                231 non-null    int32
 30  positive_male_fsw               231 non-null    int32
 31  positive_male_migrant           231 non-null    int32
 32  positive_male_msm               231 non-null    int32
 33  positive_male_msw               231 non-null    int32
 34  positive_male_partner_of_hiv    231 non-null    int32
 35  positive_male_prisoner          231 non-null    int32
 36  positive_male_pwid              231 non-null    int32
 37  positive_male_tg                231 non-null    int32
 38  positive_male_tgsw              231 non-null    int32
 39  positive_male_all_kps           231 non-null    int64
 40  positive_male_others            231 non-null    int64
 41  positive_male_total             231 non-null    int32
 42  positive_female_fsw             231 non-null    int32
 43  positive_female_migrant         231 non-null    int32
 44  positive_female_msm             231 non-null    int32
 45  positive_female_msw             231 non-null    int32
 46  positive_female_partner_of_hiv  231 non-null    int32
 47  positive_female_prisoner        231 non-null    int32
 48  positive_female_pwid            231 non-null    int32
 49  positive_female_tg              231 non-null    int32
 50  positive_female_tgsw            231 non-null    int32
 51  positive_female_all_kps         231 non-null    int64
 52  positive_female_others          231 non-null    int64
 53  positive_female_total           231 non-null    int32
 54  positive_all_kp_total           231 non-null    int64
 55  positive_all_others_total       231 non-null    int64
 56  positive_grand_total            231 non-null    int32
dtypes: int32(42), int64(12), string(3)
memory usage: 65.1 KB

In [6]:
# @title HIV Testing by Age
path = "/content/dads5001_midterm_project/rd_testing_agegr/*.xlsx"

files = glob.glob(path)
print("Total files:", len(files))
df_test_age_combine = None
for file in files:
  print(file)

  # Load the Excel file
  df = pd.read_excel(file, engine='calamine', header=None, skiprows=2, skipfooter=1)
  file_name = Path(file).name
  file_period = file_name.split('_')
  period = file_period[2]

  df = df.transpose()
  df.iloc[:,0:3] = df.iloc[:,0:3].ffill()
  #df.insert(loc=0, column='header', value=df.index)
  #df

  # Define conditions
  conditions = [
      (df[0] == 'จังหวัด'),
      (df[0] == 'เขตสุขภาพ'),
      (df[0].str.contains('testing')) & (df[1].str.contains('Female')),
      (df[0].str.contains('testing')) & (df[1].str.contains('Male')),
      (df[0].str.contains('testing')) & (df[1].str.contains('Total')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('Female')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('Male')),
      (df[0].str.contains('Positive')) & (df[1].str.contains('Total'))
  ]

  # Define the corresponding values for each condition
  values = ['province', 'health_region',
            'test_female', 'test_male', 'test_total',
            'positive_female', 'positive_male', 'positive_total'
  ]

  # Create the new column
  df['header_temp'] = np.select(conditions, values, default='Unknown') # default is for cases that don't match any condition
  df['header'] = df['header_temp'].str.cat(df[2].str.replace(' ', '_').str.lower(), sep='_').fillna(df['header_temp'])
  df['header'] = df['header'].str.replace('total_total','grand_total')
  columns_to_drop = [0,1,2,'header_temp']
  df = df.drop(columns=columns_to_drop)
  df = df.transpose()
  df.columns = df.loc['header'].values
  df = df.drop(index='header')

  # Add Period
  df.insert(loc=0, column='quarter', value=period)
  df.insert(loc=0, column='q', value=period[-2:])
  df.insert(loc=0, column='year', value=period[:4])

  # Change data type in dataframe
  for col in df.iloc[0:,5:].columns: df[col] = df[col].astype('int32')
  for col in df.iloc[0:,0:5].columns: df[col] = df[col].astype('string')

  #df
  if (df_test_age_combine is None):
    df_test_age_combine = df
  else:
    df_test_age_combine = pd.concat([df_test_age_combine, df], ignore_index=True)

display(df_test_age_combine.groupby(['year','quarter'])['positive_grand_total'].count())

# Transform accumulated data to total year summary
df_test_age = df_test_age_combine[df_test_age_combine['q'] == 'Q4'].copy()
df_test_age_temp1 = df_test_age_combine[(df_test_age_combine['q'] == 'Q1') & (df_test_age_combine['year'].isin(df_test_age['year'].unique()))].copy()

next_years_int = df_test_age['year'].astype(int).unique() + 1
next_years_str = next_years_int.astype(str)
df_test_age_temp2 = df_test_age_combine[(df_test_age_combine['q'] == 'Q1') & (df_test_age_combine['year'].isin(next_years_str))].copy()

df_test_age = df_test_age.set_index(['year', 'province'])
df_test_age_temp1 = df_test_age_temp1.set_index(['year', 'province'])

df_test_age_temp2['year'] = df_test_age_temp2['year'].astype(int) - 1
df_test_age_temp2['year'] = df_test_age_temp2['year'].astype(str)
df_test_age_temp2 = df_test_age_temp2.set_index(['year', 'province'])

cols_to_cal = df_test_age.columns[3:]
#df_test_age[cols_to_cal] = (df_test_age[cols_to_cal] - df_test_age_temp1[cols_to_cal]) + df_test_age_temp2[cols_to_cal]
df_test_age[cols_to_cal] = df_test_age[cols_to_cal].sub(df_test_age_temp1[cols_to_cal], fill_value=0).add(df_test_age_temp2[cols_to_cal], fill_value=0)

df_test_age = df_test_age.reset_index(drop=False)
df_test_age = df_test_age.drop(columns=['q','quarter'])
df_test_age.iloc[:, 3:] = df_test_age.iloc[:, 3:].clip(lower=0)

# Delete temp variables
del df_test_age_temp1
del df_test_age_temp2
gc.collect()

# ต้องเช็กก่อนว่า header ต้องใช้คำว่าอะไร และเปลี่ยนเงื่อนไข
test_male = [col for col in df_test_age.columns if col.startswith('test_male_') and 'total' not in col]
test_female = [col for col in df_test_age.columns if col.startswith('test_female_') and 'total' not in col]
positive_male = [col for col in df_test_age.columns if col.startswith('positive_male_') and 'total' not in col]
positive_female = [col for col in df_test_age.columns if col.startswith('positive_female_') and 'total' not in col]

df_test_age['test_male_total'] = df_test_age[test_male].sum(axis=1)
df_test_age['test_female_total'] = df_test_age[test_female].sum(axis=1)
df_test_age['positive_male_total'] = df_test_age[positive_male].sum(axis=1)
df_test_age['positive_female_total'] = df_test_age[positive_female].sum(axis=1)

df_test_age['test_grand_total'] = df_test_age[['test_male_total','test_female_total']].sum(axis=1)
df_test_age['positive_grand_total'] = df_test_age[['positive_male_total','positive_female_total']].sum(axis=1)

display(df_test_age)
df_test_age.to_excel('test_age.xlsx', index=False)

Total files: 7
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2023Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2026Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2024Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2025Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2023Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2024Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_testing_agegr/Testing_AgeGr_2025Q1_20260215.xlsx

year  quarter
2023  2023Q1     77
      2023Q4     77
2024  2024Q1     77
      2024Q4     77
2025  2025Q1     77
      2025Q4     77
2026  2026Q1     77
Name: positive_grand_total, dtype: int64

,year,province,health_region,test_male_<1,test_male_1-4,test_male_5-9,test_male_10-14,test_male_15-19,test_male_20-24,test_male_25-49,...,positive_female_<1,positive_female_1-4,positive_female_5-9,positive_female_10-14,positive_female_15-19,positive_female_20-24,positive_female_25-49,positive_female_50+,positive_female_total,positive_grand_total
0,2024,เชียงใหม่,1,28,60,106,182,8470,7725,12937,...,0,0,0,2,10,21,98,38,169,716
1,2024,ลำพูน,1,0,4,3,40,710,359,1904,...,0,0,0,0,1,2,23,4,30,93
2,2024,ลำปาง,1,0,3,13,27,1671,756,1872,...,0,0,0,0,4,4,16,19,43,164
3,2024,แพร่,1,1,0,0,12,471,364,1869,...,0,0,0,0,1,3,16,6,26,114
4,2024,น่าน,1,0,10,10,74,640,573,2504,...,0,0,0,0,0,2,9,3,14,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2023,พัทลุง,12,1,16,28,233,925,579,3368,...,0,0,0,0,0,0,17,13,30,108
227,2023,ปัตตานี,12,0,2,0,14,368,354,1751,...,0,0,0,0,0,2,6,1,9,51
228,2023,ยะลา,12,0,1,1,29,158,288,1526,...,0,0,0,0,1,1,5,3,10,60
229,2023,นราธิวาส,12,0,2,2,9,69,122,996,...,0,0,0,0,0,1,11,3,15,75
230,2023,กรุงเทพมหานคร,13,18,156,227,564,10368,15913,53639,...,0,4,0,1,41,98,532,206,882,4253

In [7]:
df_test_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   231 non-null    string
 1   province               231 non-null    string
 2   health_region          231 non-null    string
 3   test_male_<1           231 non-null    int32
 4   test_male_1-4          231 non-null    int32
 5   test_male_5-9          231 non-null    int32
 6   test_male_10-14        231 non-null    int32
 7   test_male_15-19        231 non-null    int32
 8   test_male_20-24        231 non-null    int32
 9   test_male_25-49        231 non-null    int32
 10  test_male_50+          231 non-null    int32
 11  test_male_total        231 non-null    int64
 12  test_female_<1         231 non-null    int32
 13  test_female_1-4        231 non-null    int32
 14  test_female_5-9        231 non-null    int32
 15  test_female_10-14      231 non-null    int32
 16  test_female_15-19      231 non-null    int32
 17  test_female_20-24      231 non-null    int32
 18  test_female_25-49      231 non-null    int32
 19  test_female_50+        231 non-null    int32
 20  test_female_total      231 non-null    int64
 21  test_grand_total       231 non-null    int64
 22  positive_male_<1       231 non-null    int32
 23  positive_male_1-4      231 non-null    int32
 24  positive_male_5-9      231 non-null    int32
 25  positive_male_10-14    231 non-null    int32
 26  positive_male_15-19    231 non-null    int32
 27  positive_male_20-24    231 non-null    int32
 28  positive_male_25-49    231 non-null    int32
 29  positive_male_50+      231 non-null    int32
 30  positive_male_total    231 non-null    int64
 31  positive_female_<1     231 non-null    int32
 32  positive_female_1-4    231 non-null    int32
 33  positive_female_5-9    231 non-null    int32
 34  positive_female_10-14  231 non-null    int32
 35  positive_female_15-19  231 non-null    int32
 36  positive_female_20-24  231 non-null    int32
 37  positive_female_25-49  231 non-null    int32
 38  positive_female_50+    231 non-null    int32
 39  positive_female_total  231 non-null    int64
 40  positive_grand_total   231 non-null    int64
dtypes: int32(32), int64(6), string(3)
memory usage: 45.2 KB

In [11]:
# @title PrEP Cur Populations
path = "/content/dads5001_midterm_project/rd_prep_population/*.xlsx"

files = glob.glob(path)
print("Total files:", len(files))
df_prep_pop_combine = None
for file in files:
  print(file)

  # Load the Excel file
  df = pd.read_excel(file, engine='calamine', header=None, skiprows=2, skipfooter=1)
  file_name = Path(file).name
  file_period = file_name.split('_')
  period = file_period[3]

  df = df.transpose()
  df.iloc[:,0:3] = df.iloc[:,0:3].ffill()
  #df.insert(loc=0, column='header', value=df.index)
  #df

  # Define conditions
  conditions = [
      (df[0] == 'จังหวัด'),
      (df[0] == 'เขตสุขภาพ'),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('Female')),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('Male')),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('All KP')),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('Total')),
  ]

  # Define the corresponding values for each condition
  values = ['province', 'health_region',
            'prep_female', 'prep_male', 'prep_all_kp', 'prep_total'
  ]

  # Create the new column
  df['header_temp'] = np.select(conditions, values, default='Unknown') # default is for cases that don't match any condition
  df['header'] = df['header_temp'].str.cat(df[2].str.replace(' ', '_').str.lower(), sep='_').fillna(df['header_temp'])
  df['header'] = df['header'].str.replace('total_total','grand_total')
  columns_to_drop = [0,1,2,'header_temp']
  df = df.drop(columns=columns_to_drop)
  df = df.transpose()
  df.columns = df.loc['header'].values
  df = df.drop(index='header')

  # Add Period
  df.insert(loc=0, column='quarter', value=period)
  df.insert(loc=0, column='q', value=period[-2:])
  df.insert(loc=0, column='year', value=period[:4])

  # Change data type in dataframe
  for col in df.iloc[0:,5:].columns: df[col] = df[col].astype('int32')
  for col in df.iloc[0:,0:5].columns: df[col] = df[col].astype('string')

  #df
  if (df_prep_pop_combine is None):
    df_prep_pop_combine = df
  else:
    df_prep_pop_combine = pd.concat([df_prep_pop_combine, df], ignore_index=True)

display(df_prep_pop_combine.groupby(['year','quarter'])['prep_grand_total'].count())

# Transform accumulated data to total year summary
df_prep_pop = df_prep_pop_combine[df_prep_pop_combine['q'] == 'Q4'].copy()
df_prep_pop_temp1 = df_prep_pop_combine[(df_prep_pop_combine['q'] == 'Q1') & (df_prep_pop_combine['year'].isin(df_prep_pop['year'].unique()))].copy()

next_years_int = df_prep_pop['year'].astype(int).unique() + 1
next_years_str = next_years_int.astype(str)
df_prep_pop_temp2 = df_prep_pop_combine[(df_prep_pop_combine['q'] == 'Q1') & (df_prep_pop_combine['year'].isin(next_years_str))].copy()

df_prep_pop = df_prep_pop.set_index(['year', 'province'])
df_prep_pop_temp1 = df_prep_pop_temp1.set_index(['year', 'province'])

df_prep_pop_temp2['year'] = df_prep_pop_temp2['year'].astype(int) - 1
df_prep_pop_temp2['year'] = df_prep_pop_temp2['year'].astype(str)
df_prep_pop_temp2 = df_prep_pop_temp2.set_index(['year', 'province'])

cols_to_cal = df_prep_pop.columns[3:]
#df_prep_pop[cols_to_cal] = (df_prep_pop[cols_to_cal] - df_prep_pop_temp1[cols_to_cal]) + df_prep_pop_temp2[cols_to_cal]
df_prep_pop[cols_to_cal] = df_prep_pop[cols_to_cal].sub(df_prep_pop_temp1[cols_to_cal], fill_value=0).add(df_prep_pop_temp2[cols_to_cal], fill_value=0)

df_prep_pop = df_prep_pop.reset_index(drop=False)
df_prep_pop = df_prep_pop.drop(columns=['q','quarter'])
df_prep_pop.iloc[:, 3:] = df_prep_pop.iloc[:, 3:].clip(lower=0)

# Delete temp variables
del df_prep_pop_temp1
del df_prep_pop_temp2
gc.collect()

prep_male = [col for col in df_prep_pop.columns if col.startswith('prep_male_') and 'all_kps' not in col and 'total' not in col]
prep_female = [col for col in df_prep_pop.columns if col.startswith('prep_female_') and 'all_kps' not in col and 'total' not in col]

df_prep_pop['prep_male_all_kps'] = df_prep_pop[prep_male].sum(axis=1)
df_prep_pop['prep_female_all_kps'] = df_prep_pop[prep_female].sum(axis=1)

df_prep_pop['prep_all_kp_total'] = df_prep_pop[['prep_male_all_kps','prep_female_all_kps']].sum(axis=1)

# Add sum of others
added_col = ['prep_male_others','prep_female_others','prep_all_others_total']
col_name = ['prep_male_all_kps','prep_female_all_kps','prep_all_kp_total']
col_ttl = ['prep_male_total','prep_female_total','prep_grand_total']
indices = df_prep_pop.columns.get_indexer(col_name)
for i in reversed(range(len(indices))):
    indice = indices[i]
    new_col = added_col[i]
    source_ttl = col_ttl[i]
    source_kp = col_name[i]
    df_prep_pop.insert(loc=indice + 1, column=new_col, value=df_prep_pop[source_ttl] - df_prep_pop[source_kp])

df_prep_pop.iloc[:, 3:] = df_prep_pop.iloc[:, 3:].clip(lower=0)
df_prep_pop['prep_male_total'] = df_prep_pop[['prep_male_all_kps','prep_male_others']].sum(axis=1)
df_prep_pop['prep_female_total'] = df_prep_pop[['prep_male_all_kps','prep_female_others']].sum(axis=1)
df_prep_pop['prep_grand_total'] = df_prep_pop[['prep_all_kp_total','prep_all_others_total']].sum(axis=1)

display(df_prep_pop)
df_prep_pop.to_excel('prep_pop.xlsx', index=False)

Total files: 7
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2023Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2025Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2024Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2023Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2025Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2026Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_population/PrEP_Cur_Population_2024Q4_20260215.xlsx

year  quarter
2023  2023Q1     54
      2023Q4     67
2024  2024Q1     74
      2024Q4     74
2025  2025Q1     72
      2025Q4     76
2026  2026Q1     69
Name: prep_grand_total, dtype: int64

,year,province,health_region,prep_male_fsw,prep_male_migrant,prep_male_msm,prep_male_msw,prep_male_prisoner,prep_male_pwid,prep_male_tg,...,prep_female_prisoner,prep_female_pwid,prep_female_tg,prep_female_tgsw,prep_female_all_kps,prep_female_others,prep_female_total,prep_all_kp_total,prep_all_others_total,prep_grand_total
0,2023,เชียงใหม่,1,1.0,0.0,1666.0,29.0,0.0,14.0,91.0,...,0.0,0.0,0.0,0.0,27.0,36.0,1850.0,1841.0,35.0,1876.0
1,2023,ลำพูน,1,0.0,0.0,23.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,6.0,29.0,24.0,8.0,32.0
2,2023,ลำปาง,1,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,1.0,5.0
3,2023,แพร่,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
4,2023,น่าน,1,0.0,0.0,19.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,22.0,19.0,4.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,2024,พัทลุง,12,0.0,0.0,15.0,2.0,0.0,2.0,2.0,...,0.0,1.0,10.0,0.0,14.0,3.0,24.0,35.0,6.0,41.0
213,2024,ปัตตานี,12,0.0,0.0,3.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,4.0
214,2024,ยะลา,12,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0,2.0,7.0
215,2024,นราธิวาส,12,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,7.0,1.0,6.0,7.0
216,2024,กรุงเทพมหานคร,13,2.0,0.0,15411.0,727.0,0.0,144.0,1264.0,...,0.0,1.0,7.0,0.0,934.0,617.0,18352.0,18669.0,1815.0,20484.0

In [12]:
df_prep_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   217 non-null    string
 1   province               217 non-null    string
 2   health_region          217 non-null    string
 3   prep_male_fsw          217 non-null    float64
 4   prep_male_migrant      217 non-null    float64
 5   prep_male_msm          217 non-null    float64
 6   prep_male_msw          217 non-null    float64
 7   prep_male_prisoner     217 non-null    float64
 8   prep_male_pwid         217 non-null    float64
 9   prep_male_tg           217 non-null    float64
 10  prep_male_tgsw         217 non-null    float64
 11  prep_male_all_kps      217 non-null    float64
 12  prep_male_others       217 non-null    float64
 13  prep_male_total        217 non-null    float64
 14  prep_female_fsw        217 non-null    float64
 15  prep_female_migrant    217 non-null    float64
 16  prep_female_msm        217 non-null    float64
 17  prep_female_msw        217 non-null    float64
 18  prep_female_prisoner   217 non-null    float64
 19  prep_female_pwid       217 non-null    float64
 20  prep_female_tg         217 non-null    float64
 21  prep_female_tgsw       217 non-null    float64
 22  prep_female_all_kps    217 non-null    float64
 23  prep_female_others     217 non-null    float64
 24  prep_female_total      217 non-null    float64
 25  prep_all_kp_total      217 non-null    float64
 26  prep_all_others_total  217 non-null    float64
 27  prep_grand_total       217 non-null    float64
dtypes: float64(25), string(3)
memory usage: 47.6 KB

In [14]:
# @title PrEP Cur by Age
path = "/content/dads5001_midterm_project/rd_prep_agegr/*.xlsx"

files = glob.glob(path)
print("Total files:", len(files))
df_prep_age_combine = None
for file in files:
  print(file)

  # Load the Excel file
  df = pd.read_excel(file, engine='calamine', header=None, skiprows=2, skipfooter=1)
  file_name = Path(file).name
  file_period = file_name.split('_')
  period = file_period[3]

  df = df.transpose()
  df.iloc[:,0:3] = df.iloc[:,0:3].ffill()
  #df.insert(loc=0, column='header', value=df.index)
  #df

  # Define conditions
  conditions = [
      (df[0] == 'จังหวัด'),
      (df[0] == 'เขตสุขภาพ'),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('Female')),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('Male')),
      (df[0].str.lower().str.contains('prep')) & (df[1].str.contains('Total')),
  ]

  # Define the corresponding values for each condition
  values = ['province', 'health_region',
            'prep_female', 'prep_male', 'prep_total'
  ]

  # Create the new column
  df['header_temp'] = np.select(conditions, values, default='Unknown') # default is for cases that don't match any condition
  df['header'] = df['header_temp'].str.cat(df[2].str.replace(' ', '_').str.lower(), sep='_').fillna(df['header_temp'])
  df['header'] = df['header'].str.replace('total_total','grand_total')
  columns_to_drop = [0,1,2,'header_temp']
  df = df.drop(columns=columns_to_drop)
  df = df.transpose()
  df.columns = df.loc['header'].values
  df = df.drop(index='header')

  # Add Period
  df.insert(loc=0, column='quarter', value=period)
  df.insert(loc=0, column='q', value=period[-2:])
  df.insert(loc=0, column='year', value=period[:4])

  # Change data type in dataframe
  for col in df.iloc[0:,5:].columns: df[col] = df[col].astype('int32')
  for col in df.iloc[0:,0:5].columns: df[col] = df[col].astype('string')

  #df
  if (df_prep_age_combine is None):
    df_prep_age_combine = df
  else:
    df_prep_age_combine = pd.concat([df_prep_age_combine, df], ignore_index=True)

display(df_prep_age_combine.groupby(['year','quarter'])['prep_grand_total'].count())

# Transform accumulated data to total year summary
df_prep_age = df_prep_age_combine[df_prep_age_combine['q'] == 'Q4'].copy()
df_prep_age_temp1 = df_prep_age_combine[(df_prep_age_combine['q'] == 'Q1') & (df_prep_age_combine['year'].isin(df_prep_age['year'].unique()))].copy()

next_years_int = df_prep_age['year'].astype(int).unique() + 1
next_years_str = next_years_int.astype(str)
df_prep_age_temp2 = df_prep_age_combine[(df_prep_age_combine['q'] == 'Q1') & (df_prep_age_combine['year'].isin(next_years_str))].copy()

df_prep_age = df_prep_age.set_index(['year', 'province'])
df_prep_age_temp1 = df_prep_age_temp1.set_index(['year', 'province'])

df_prep_age_temp2['year'] = df_prep_age_temp2['year'].astype(int) - 1
df_prep_age_temp2['year'] = df_prep_age_temp2['year'].astype(str)
df_prep_age_temp2 = df_prep_age_temp2.set_index(['year', 'province'])

cols_to_cal = df_prep_age.columns[3:]
#df_prep_age[cols_to_cal] = (df_prep_age[cols_to_cal] - df_prep_age_temp1[cols_to_cal]) + df_prep_age_temp2[cols_to_cal]
df_prep_age[cols_to_cal] = df_prep_age[cols_to_cal].sub(df_prep_age_temp1[cols_to_cal], fill_value=0).add(df_prep_age_temp2[cols_to_cal], fill_value=0)

df_prep_age = df_prep_age.reset_index(drop=False)
df_prep_age = df_prep_age.drop(columns=['q','quarter'])
df_prep_age.iloc[:, 3:] = df_prep_age.iloc[:, 3:].clip(lower=0)

# Delete temp variables
del df_prep_age_temp1
del df_prep_age_temp2
gc.collect()

prep_male = [col for col in df_prep_age.columns if col.startswith('prep_male_') and 'total' not in col]
prep_female = [col for col in df_prep_age.columns if col.startswith('prep_female_') and 'total' not in col]

df_prep_age['prep_male_total'] = df_prep_age[prep_male].sum(axis=1)
df_prep_age['prep_female_total'] = df_prep_age[prep_female].sum(axis=1)

df_prep_age['prep_grand_total'] = df_prep_age[['prep_male_total','prep_female_total']].sum(axis=1)

display(df_prep_age)
df_prep_age.to_excel('prep_age.xlsx', index=False)

Total files: 7
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2024Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2023Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2025Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2023Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2024Q4_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2025Q1_20260215.xlsx
/content/dads5001_midterm_project/rd_prep_agegr/PrEP_Cur_AgeGr_2026Q1_20260215.xlsx

year  quarter
2023  2023Q1     54
      2023Q4     67
2024  2024Q1     74
      2024Q4     74
2025  2025Q1     72
      2025Q4     76
2026  2026Q1     69
Name: prep_grand_total, dtype: int64

,year,province,health_region,prep_male_<1,prep_male_1-4,prep_male_5-9,prep_male_10-14,prep_male_15-19,prep_male_20-24,prep_male_25-49,...,prep_female_<1,prep_female_1-4,prep_female_5-9,prep_female_10-14,prep_female_15-19,prep_female_20-24,prep_female_25-49,prep_female_50+,prep_female_total,prep_grand_total
0,2025,เชียงใหม่,1,0.0,0.0,0.0,0.0,76.0,418.0,1601.0,...,0.0,0.0,0.0,0.0,5.0,16.0,136.0,12.0,169.0,2350.0
1,2025,ลำพูน,1,0.0,0.0,0.0,0.0,0.0,0.0,21.0,...,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,5.0,27.0
2,2025,ลำปาง,1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,5.0
3,2025,แพร่,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,4.0
4,2025,น่าน,1,0.0,0.0,0.0,0.0,2.0,6.0,43.0,...,0.0,0.0,0.0,0.0,1.0,0.0,5.0,2.0,8.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,2024,พัทลุง,12,0.0,0.0,0.0,0.0,5.0,1.0,17.0,...,0.0,0.0,0.0,0.0,6.0,1.0,9.0,1.0,17.0,41.0
213,2024,ปัตตานี,12,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
214,2024,ยะลา,12,0.0,0.0,0.0,0.0,0.0,1.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
215,2024,นราธิวาส,12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,6.0,7.0
216,2024,กรุงเทพมหานคร,13,762.0,0.0,0.0,0.0,434.0,2933.0,14241.0,...,0.0,0.0,0.0,5.0,69.0,273.0,1165.0,39.0,1551.0,20484.0

In [15]:
df_prep_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               217 non-null    string
 1   province           217 non-null    string
 2   health_region      217 non-null    string
 3   prep_male_<1       217 non-null    float64
 4   prep_male_1-4      217 non-null    float64
 5   prep_male_5-9      217 non-null    float64
 6   prep_male_10-14    217 non-null    float64
 7   prep_male_15-19    217 non-null    float64
 8   prep_male_20-24    217 non-null    float64
 9   prep_male_25-49    217 non-null    float64
 10  prep_male_50+      217 non-null    float64
 11  prep_male_total    217 non-null    float64
 12  prep_female_<1     217 non-null    float64
 13  prep_female_1-4    217 non-null    float64
 14  prep_female_5-9    217 non-null    float64
 15  prep_female_10-14  217 non-null    float64
 16  prep_female_15-19  217 non-null    float64
 17  prep_female_20-24  217 non-null    float64
 18  prep_female_25-49  217 non-null    float64
 19  prep_female_50+    217 non-null    float64
 20  prep_female_total  217 non-null    float64
 21  prep_grand_total   217 non-null    float64
dtypes: float64(19), string(3)
memory usage: 37.4 KB